<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="utf-8">
		<title>Title</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

		<!-- favicon -->
		{% include "part/favicon.html" %}

		<!-- scripts -->
		<script src="../popper.js/umd/popper.min.js"></script>
		<script src="../jquery/jquery.min.js"></script>

		<!-- styles -->
		<link rel="stylesheet" href="../css/style.min.css?v={{ currentTime }}">
	</head>
	<body>
		<nav class="navbar navbar-light navbar-expand-lg bg-white py-3">
			<div class="container">
				<a class="navbar-brand" href="#">
					<img class="img-fluid" src="https://itsmf.cz/wp-content/uploads/2017/08/itsmf_logo_1.png" alt="" width="200">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Menu">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="mainmenu">
					<ul class="navbar-nav mr-0 ml-auto">
						<li class="nav-item">
							<a href="#" class="nav-link">O nás</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">Členství</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link active">Akce</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">Informace</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">Certifikace</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">Kontakt</a>
						</li>
					</ul>
					<div class="border-left align-self-stretch mx-2"></div>
					<ul class="navbar-nav">
						<li class="nav-item">
							<a href="#" class="nav-link">EN</a>
						</li>
						<li class="nav-item d-flex align-items-center">
							<a href="#" class="nav-link d-flex align-items-center" title="Přihlášení" data-toggle="tooltip">
								<svg class="icon-material-user" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M16 20.023q5.053 0 10.526 2.199t5.474 5.754v4.023h-32v-4.023q0-3.556 5.474-5.754t10.526-2.199zM16 16q-3.275 0-5.614-2.339t-2.339-5.614 2.339-5.661 5.614-2.386 5.614 2.386 2.339 5.661-2.339 5.614-5.614 2.339z"></path></svg>
								<span class="sr-only">Přihlášení</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<main>
{% block content %}
{% endblock %}
		</main>

		<aside>
			<div class="bg-light pt-5 pb-2">
				<div class="container">
					<h2>Partneři konference pro rok 2019</h2>
					<div class="row">
						<div class="partners-slider">
							<div class="item">
								<div class="col-12">
									<div class="row py-2">
										<div class="col-lg-3 d-flex">
											<div class="bg-white d-flex justify-content-center align-items-center w-100 p-3">
												<h2 class="h5 mb-0">Platinový partner</h2>
											</div>
										</div>
										<div class="col-lg-9 d-flex">
											<div class="logo-list bg-white w-100 p-3 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/hpe.png" alt="">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="col-12">
									<div class="row py-2">
										<div class="col-lg-3 align-self-stretch d-flex">
											<div class="bg-white d-flex justify-content-center align-items-center w-100 p-3">
												<h2 class="h5 mb-0">Zlatí partneři</h2>
											</div>
										</div>
										<div class="col-lg-9 d-flex">
											<div class="logo-list bg-white w-100 p-3 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/guidevision.png" alt="">
												</a>
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/alvao.png" alt="">
												</a>
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/EDU_zlato_trainings.png" alt="">
												</a>
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/ServicewareSE_4.png" alt="">
												</a>
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/Marval.png" alt="">
												</a>
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/Microfocus.png" alt="">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="col-12">
									<div class="row py-2">
										<div class="col-lg-3 align-self-stretch d-flex">
											<div class="bg-white d-flex justify-content-center align-items-center w-100 p-3">
												<h2 class="h5 mb-0">Stříbrní partneři</h2>
											</div>
										</div>
										<div class="col-lg-9 d-flex">
											<div class="logo-list bg-white w-100 p-3 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/KPCS.png" alt="">
												</a>
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/devoteam.png" alt="">
												</a>
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/MSFT.png" alt="">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="col-12">
									<div class="row py-2">
										<div class="col-lg-3 align-self-stretch d-flex">
											<div class="bg-white d-flex justify-content-center align-items-center w-100 p-3 p-3">
												<h2 class="h5 mb-0">Bronzoví partneři</h2>
											</div>
										</div>
										<div class="col-lg-9 d-flex">
											<div class="logo-list bg-white w-100 p-3 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/cqs.png" alt="">
												</a>
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/Q4IT.png" alt="">
												</a>
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/sabi.png" alt="">
												</a>
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/EZU_IT.png" alt="">
												</a>
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/SimplyIT.png" alt="">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="col-12">
									<div class="row py-2">
										<div class="col-lg-3 align-self-stretch d-flex">
											<div class="bg-white d-flex justify-content-center align-items-center w-100 p-3">
												<h2 class="h5 mb-0">Odborní partneři</h2>
											</div>
										</div>
										<div class="col-lg-9 d-flex">
											<div class="logo-list bg-white w-100 p-3 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/cacio.png" alt="">
												</a>
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/itsmf-sk.png" alt="">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="col-12">
									<div class="row py-2">
										<div class="col-lg-3 align-self-stretch d-flex">
											<div class="bg-white d-flex justify-content-center align-items-center w-100 p-3">
												<h2 class="h5 mb-0">Mediální partneři</h2>
											</div>
										</div>
										<div class="col-lg-9 d-flex">
											<div class="logo-list bg-white w-100 p-3 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/Van_Haren.png" alt="">
												</a>
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/IDG.png" alt="">
												</a>
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/cio_businessworld.png" alt="">
												</a>
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/Computerworld_logo.png" alt="">
												</a>
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/ICT_network_news.png" alt="">
												</a>
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/AVERIA-NEWS.png" alt="">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="col-12">
									<div class="row py-2">
										<div class="col-lg-3 align-self-stretch d-flex">
											<div class="bg-white d-flex justify-content-center align-items-center w-100 p-3">
												<h2 class="h5 mb-0">Technologičtí partneři</h2>
											</div>
										</div>
										<div class="col-lg-9 d-flex">
											<div class="logo-list bg-white w-100 p-3 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
												<a target="_blank" href="#">
													<img class="mx-3 my-2" src="https://itsmf.cz/wp-content/uploads/2019/01/sli-do.png" alt="">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</aside>

		<footer>
			<div class="bg-light">
				<form>
					<div class="embed-responsive bg-dark text-white skewed-arrow-up py-5">
						<img class="embed-responsive-item opacity-25" src="../img/example/apple-1851464_1920.jpg" alt="">
						<div class="container position-relative">
							<div class="text-center">
								<svg class="icon-material-mail opacity-75 display-2 mb-3">
									<use xlink:href="#icon-material-mail"></use>
								</svg>
								<div>
									<h2>Registrace k odběru novinek</h2>
									<p class="lead">
										Chcete být pravidelně informováni o akcích a novinkách itSMF Czech Republic?
										<br>Neváhejte a zanechte nám svůj e-mail.
									</p>
									<div class="row justify-content-center">
										<div class="col-sm-9 col-md-7 col-lg-5">
											<div class="input-group mb-4">
												<input type="email" class="form-control border-white" id="inputPassword2" placeholder="Váš E-mail" aria-label="Váš E-mail">
												<div class="input-group-append">
													<button class="btn btn-primary" type="submit">Přihlásit</button>
												</div>
											</div>
											<div class="small">
												<p>
													Odesláním formuláře souhlasíte se zpracováním osobních údajů.
													<br><a class="text-light" href="#">Zásady ochrany osobních údajů</a>.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="bg-dark text-white py-5">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="small">
								<p>
									<a href="#"><img class="img-fluid" src="https://itsmf.cz/wp-content/uploads/2017/08/itsmf_logo_2.png" alt=""></a>
								</p>
								<p>itSMF (IT Service Management Forum) je mezinárodně působící nezávislá a nezisková organizace účelově se věnující všem aspektům řízení služeb informačních a komunikačních technologií. Celosvětovým standardem pro tuto oblast je ITIL a z něj vycházející norma ISO/IEC 20000, itSMF je tedy současně vnímáno jako fórum uživatelů tohoto standardu, které ale současně zásadním způsobem ovlivňuje rozvoj celého odvětví ICT managementu.</p>
								<p>&copy; 2016 - 2019 | <a class="text-light" href="#">itSMF Czech Republic</a> Všechna práva vyhrazena.</p>						
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<svg class="sr-only">
				<symbol id="icon-material-calendar" viewBox="0 0 32 32">
					<path d="M27.643 29.072v-18.86h-23.285v18.86h23.285zM27.643 2.928q1.157 0 2.009 0.885t0.851 2.043v23.217q0 1.157-0.851 2.043t-2.009 0.885h-23.285q-1.157 0-2.009-0.885t-0.851-2.043v-23.217q0-1.157 0.851-2.043t2.009-0.885h1.498v-2.928h2.86v2.928h14.57v-2.928h2.86v2.928h1.498z"></path>
				</symbol>
				<symbol id="icon-material-mail" viewBox="0 0 32 32">
					<path d="M16 14.423l12.845-8.038h-25.69zM28.845 25.615v-16l-12.845 7.962-12.845-7.962v16h25.69zM28.845 3.155q1.277 0 2.216 0.977t0.939 2.254v19.23q0 1.277-0.939 2.254t-2.216 0.977h-25.69q-1.277 0-2.216-0.977t-0.939-2.254v-19.23q0-1.277 0.939-2.254t2.216-0.977h25.69z"></path>
				</symbol>
			</svg>
		</footer>

		<script src="../js/scripts.min.js?v={{ currentTime }}"></script>			
	</body>
</html>