{% extends 'layout/layout.html' %}

{% block content %}

<div class="header-slider skewed-arrow-down">
	<div class="item">
		<div class="embed-responsive">
			<img src="../img/example/business-2884023_1920.jpg" alt="" class="embed-responsive-item">
			<div class="container position-relative d-flex flex-column justify-content-center py-5 min-vh-75">
				<div class="row mb-5 mb-md-0">
					<div class="col-md-9 col-lg-8 col-xl-7">
						<div class="embed-responsive">
							<div class="bg-white opacity-75 embed-responsive-item"></div>
							<div class="position-relative p-5">
								<h2 class="h3">13. výroční konference itSMF ČR</h2>
								<p>Cubex Centrum Praha | 24. 1. - 25. 1. 2019</p>
								<a href="#" class="btn btn-primary">Více informací</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="embed-responsive">
			<img src="../img/example/wordpress-923188_1920.jpg" alt="" class="embed-responsive-item">
			<div class="container position-relative d-flex flex-column justify-content-center py-5 min-vh-75">
				<div class="row mb-5 mb-md-0">
					<div class="col-md-9 col-lg-8 col-xl-7">
						<div class="embed-responsive">
							<div class="bg-white opacity-75 embed-responsive-item"></div>
							<div class="position-relative p-5">
								<h2 class="h3">13. výroční konference itSMF ČR</h2>
								<p>Cubex Centrum Praha | 24. 1. - 25. 1. 2019</p>
								<a href="#" class="btn btn-primary">Více informací</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="embed-responsive">
			<img src="../img/example/office-620822_1920.jpg" alt="" class="embed-responsive-item">
			<div class="container position-relative d-flex flex-column justify-content-center py-5 min-vh-75">
				<div class="row mb-5 mb-md-0">
					<div class="col-md-9 col-lg-8 col-xl-7">
						<div class="embed-responsive">
							<div class="bg-white opacity-75 embed-responsive-item"></div>
							<div class="position-relative p-5">
								<h2 class="h3">13. výroční konference itSMF ČR</h2>
								<p>Cubex Centrum Praha | 24. 1. - 25. 1. 2019</p>
								<a href="#" class="btn btn-primary">Více informací</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container pt-5">
	<div class="row">
		<div class="col-md-4 mb-5">
			<section>
				<h2 class="h4">Novinky</h2>
				<div class="w-25 border border-info mt-3"></div>
				<div class="my-3">
					<article class="border-bottom border-light pb-3 mb-4">
						<p class="text-muted small mb-0">
							<svg class="icon-material-calendar mb-1 mr-1">
								<use xlink:href="#icon-material-calendar"></use>
							</svg>
							12. 8. 2019
						</p>
						<h3 class="h6 mb-0"><a class="text-info" href="#">ITIL® 4 a rychlé spoluvytváření hodnot</a></h3>
						<a href="#" class="badge badge-light">Novinky</a>
						<a href="#" class="badge badge-light">Philip Hearsum</a>
					</article>
					<article class="border-bottom border-light pb-3 mb-4">
						<p class="text-muted small mb-0">
							<svg class="icon-material-calendar mb-1 mr-1">
								<use xlink:href="#icon-material-calendar"></use>
							</svg>
							29. 4. 2019
						</p>
						<h3 class="h6 mb-0"><a class="text-info" href="#">Co přinese ITIL 4? Velká diskuse s autory ITIL publikací</a></h3>
						<a href="#" class="badge badge-light">Novinky</a>
					</article>
					<article class="border-bottom border-light pb-3 mb-4">
						<p class="text-muted small mb-0">
							<svg class="icon-material-calendar mb-1 mr-1">
								<use xlink:href="#icon-material-calendar"></use>
							</svg>
							27. 4. 2019
						</p>
						<h3 class="h6 mb-0"><a class="text-info" href="#">13. Výroční konference itSMF Czech Republic | Video záznam</a></h3>
						<a href="#" class="badge badge-light">Jaroslav Rokyta</a>
						<a href="#" class="badge badge-light">Novinky</a>
					</article>
				</div>
				<a href="#" class="btn btn-info">Všechny novinky</a>
			</section>
		</div>
		<div class="col-md-4 mb-5">
			<section>
				<h2 class="h4">Rešerše</h2>
				<div class="w-25 border border-danger mt-3"></div>
				<div class="my-3">
					<article class="border-bottom border-light pt-3 pb-3 mb-4">
						<h3 class="h6 mb-0"><a class="text-danger" href="#">Co konstituuje Agilitu ve vývoji softwaru?</a></h3>
						<a href="#" class="badge badge-light">ITIL</a>
						<a href="#" class="badge badge-light">Jaroslav Rokyta</a>
					</article>
					<article class="border-bottom border-light pt-3 pb-3 mb-4">
						<h3 class="h6 mb-0"><a class="text-danger" href="#">Cesta k dokonalosti v odvětví služeb</a></h3>
						<a href="#" class="badge badge-light">Jaroslav Rokyta</a>
						<a href="#" class="badge badge-light">Philip Hearsum</a>
					</article>
					<article class="border-bottom border-light pt-3 pb-3 mb-4">
						<h3 class="h6 mb-0"><a class="text-danger" href="#">IT-profesionálové pro digitální ekonomiku</a></h3>
						<a href="#" class="badge badge-light">Philip Hearsum</a>
						<a href="#" class="badge badge-light">ITIL</a>
					</article>
				</div>
				<a href="#" class="btn btn-success">Všechny rešerše</a>
			</section>
		</div>
		<div class="col-md-4 mb-5">
			<section>
				<h2 class="h4">Nejbližší Akce</h2>
				<div class="w-25 border border-primary mt-3"></div>
				<div class="my-3">
					<article class="border-bottom border-light pt-3 pb-3 mb-4">
						<h3 class="h6 mb-0"><a class="text-primary" href="#">Seminář itSM Prakticky 07/2019</a></h3>
						<p class="text-muted mb-0">
							<svg class="icon-material-calendar mb-1 mr-1">
								<use xlink:href="#icon-material-calendar"></use>
							</svg>
							19. 9. 2019
						</p>
					</article>
					<article class="border-bottom border-light pt-3 pb-3 mb-4">
						<h3 class="h6 mb-0"><a class="text-primary" href="#">Seminář itSM Prakticky 07/2019</a></h3>
						<p class="text-muted mb-0">
							<svg class="icon-material-calendar mb-1 mr-1">
								<use xlink:href="#icon-material-calendar"></use>
							</svg>
							19. - 20. 9. 2019
						</p>
					</article>
					<article class="border-bottom border-light pt-3 pb-3 mb-4">
						<h3 class="h6 mb-0"><a class="text-primary" href="#">Seminář itSM Prakticky 07/2019</a></h3>
						<p class="text-muted mb-0">
							<svg class="icon-material-calendar mb-1 mr-1">
								<use xlink:href="#icon-material-calendar"></use>
							</svg>
							19. 9. 2019
						</p>
					</article>
				</div>
				<a href="#" class="btn btn-primary">Všechny akce</a>
			</section>
		</div>
	</div>
</div>

{% endblock %}