// Color system

$color-base: #c81e45 !default;
$gray-base: #000;



$white:    #fff !default;
$gray-100: mix(lighten($gray-base,95),$color-base,99) !default;
$gray-200: mix(lighten($gray-base,85),$color-base,98) !default;
$gray-300: mix(lighten($gray-base,75),$color-base,97) !default;
$gray-400: mix(lighten($gray-base,65),$color-base,96) !default;
$gray-500: mix(lighten($gray-base,55),$color-base,95) !default;
$gray-600: mix(lighten($gray-base,45),$color-base,94) !default;
$gray-700: mix(lighten($gray-base,35),$color-base,93) !default;
$gray-800: mix(lighten($gray-base,25),$color-base,92) !default;
$gray-900: mix(lighten($gray-base,15),$color-base,91) !default;
$black:    #000 !default;



$blue:    adjust-hue($color-base, -120deg) !default;
$indigo:  adjust-hue($color-base, -90deg) !default;
$purple:  adjust-hue($color-base, -60deg) !default;
$pink:    adjust-hue($color-base, -30deg) !default;
$red:     adjust-hue($color-base, 0deg) !default;
$orange:  adjust-hue($color-base, 30deg) !default;
$yellow:  adjust-hue($color-base, 60deg) !default;
$green:   adjust-hue($color-base, 120deg) !default;
$teal:    adjust-hue($color-base, 180deg) !default;
$cyan:    adjust-hue($color-base, 210deg) !default;



$primary:       $red !default;
$secondary:     $gray-600 !default;
$success:       $teal !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $purple !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;



$yiq-contrasted-threshold:  160 !default;
$yiq-text-dark:             $gray-900 !default;
$yiq-text-light:            $white !default;



// Options
$enable-caret:                                true !default;
$enable-rounded:                              false !default;
$enable-shadows:                              false !default;
$enable-gradients:                            false !default;
$enable-transitions:                          true !default;
$enable-prefers-reduced-motion-media-query:   true !default;
$enable-hover-media-query:                    false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:                         true !default;
$enable-pointer-cursor-for-buttons:           true !default;
$enable-print-styles:                         true !default;
$enable-responsive-font-sizes:                true !default;
$enable-validation-icons:                     true !default;
$enable-deprecation-messages:                 true !default;



// Typography
$font-family-sans-serif:      "Nunito Sans", sans-serif !default;

$headings-font-weight:        400 !default;
$headings-font-family:        "Lora", serif !default;



// Navbar
$navbar-light-color:                rgba($black, .9) !default;
$navbar-light-hover-color:          rgba($black, .7) !default;
$navbar-light-active-color:         $primary !default;
$navbar-light-disabled-color:       rgba($black, .3) !default;