// --- FONTS ---
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Nunito+Sans:300,300i,400,400i,700,700i&display=swap&subset=latin-ext');

// --- BOOTSTRAP ---
@import "variables";
@import "bootstrap/bootstrap";

// --- FANCYBOX ---
@import "../../node_modules/@fancyapps/fancybox/src/css/core.css";
@import "../../node_modules/@fancyapps/fancybox/src/css/thumbs.css";

// --- OWL.CAROUSEL ---
@import "../../node_modules/owl.carousel/src/scss/core";

// --- COMPONENTS ---
@import "components/icons";
@import "components/wp";

// --- ANIMATE ---
// @import "components/animate";

@each $color, $value in $theme-colors {
	.link-#{$color} a {
		@extend .text-#{$color};
	}
}


@each $color, $value in $theme-colors {
	.heading-#{$color} a {
		@extend .text-#{$color};
	}
}



img.embed-responsive-item {
	object-fit: cover;
}



.min-vh-75 { min-height: 75vh !important; }



.opacity-25 {
	opacity: .25;
}

.opacity-50 {
	opacity: .50;
}

.opacity-75 {
	opacity: .75;
}

.navbar-nav {
	.nav-link {
		@extend .text-uppercase;
		@extend .small;
		font-weight: $font-weight-bold;
	}
}


.header-slider.owl-carousel {
	@extend .position-relative;
	.owl-nav {
		@extend .position-absolute;
		@extend .fixed-top;
		@extend .d-none;
		@extend .d-md-flex;
		@extend .justify-content-between;
		top: 50%;
		height: 0;
		overflow: visible;

		button.owl-prev,
		button.owl-next {
			@extend .btn;
			@extend .btn-light;
			@extend .rounded-circle;
			@extend .pb-1;
			@extend .mx-3;
			@extend .shadow;
			@extend .opacity-75;
			line-height: 0;
			font-size: 2.5rem;
			height: 3rem;
			width: 3rem;
			margin-top: -1.5rem;

			span {
				@extend .d-flex;
				@extend .justify-content-center;
			}
		}
	}
	.owl-dots {
		@extend .position-absolute;
		@extend .fixed-bottom;
		@extend .d-flex;
		@extend .justify-content-center;
		@extend .pb-5;
		@extend .pb-md-4;
	}
	button.owl-dot {
		@extend .btn;
		@extend .btn-outline-light;
		@extend .pt-1;
		@extend .px-3;
		@extend .mx-1;
		@extend .opacity-75;
	}
}

.partners-slider.owl-carousel {

	.owl-stage {
		@extend .d-flex;
		@extend .align-items-center;
	}


	.owl-dots {
		@extend .d-flex;
		@extend .justify-content-center;
		@extend .pt-2;
		@extend .pb-4;
	}
	button.owl-dot {
		@extend .btn;
		@extend .btn-outline-dark;
		@extend .p-1;
		@extend .pl-2;
		@extend .pt-2;
		@extend .m-1;
		@extend .rounded-circle;
		@extend .opacity-50;
	}
}

.bg-rectangle {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='1269' height='1057.5' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-size: cover;
}

.skewed-arrow-up {
	clip-path: polygon(50% 0, 100% 4rem, 100% 105%, 0 105%, 0 4rem);
}

.skewed-arrow-down {
	clip-path: polygon(100% -5%, 100% calc(100% - 4rem), 50% 100%, 0 calc(100% - 4rem), 0 -5%);
}



.logo-list img {
	@extend .h-auto;
	@extend .w-auto;
	max-height: 3rem;
	max-width: 7rem;
}